
<form action="/charities" method="post">
  {{> charities-form }}
  <div class="m-1">
    <button type="submit" class= "btn btn-danger" name="">Back</button>
    <button type="submit" class="btn btn-primary" name="button">Save</button>
  </div>
</form>
