<div class="row mt-4">
      <div class="col-lg-6 offset-lg-3">
          <h1>Charities</h1>
          {{#each charities}}
          <div class="card mt-3">
            <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.desc}}</p>
              <div class="text-right">
                <a href="#" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-danger">Donate</a>
              </div>
            </div>
          </div>
          {{/each}}
      </div>
  </div>
